<div class = "text-center">
    <p>aslkjfhadslkfhl</p>
</div>


  <div class="col-md-6 project-list">
    <h3>Comments:</h3>

   
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{comment.text}}</a></h4>
      </div>
      
    </div>
  
  </div>
